#notificationCountPill.absolute.top-0.right-0.inline-flex.items-center.justify-center.px-1.5.py-0.5.text-xs.font-bold.leading-none.text-white.transform.translate-x-1.-translate-y-1.rounded-full{ class: count > 0 ? 'bg-red-600' : 'hidden' }
  - if count > 0
    = count > 99 ? '99+' : count
