- if object.errors.any?
  #form-errors.bg-red-50.border-l-4.border-red-400.p-4.mb-6{ role: "alert" }
    .flex
      .flex-shrink-0
        %i.fas.fa-exclamation-circle.text-red-400
      .ml-3
        %h3.text-sm.font-medium.text-red-800
          = "Please fix the following #{pluralize(object.errors.count, 'error')}:"
        .mt-2.text-sm.text-red-700
          %ul.list-disc.pl-5.space-y-1
            - object.errors.full_messages.each do |message|
              %li= message
- else
  #form-errors.hidden
