%h1 Hello #{@vendor.full_name},
%p
  Our records indicate that your Emirates ID has expired.
%p
  Please log in to your vendor profile and update your Emirates ID and its new expiry date as soon as possible to avoid any service interruptions.
%p
  Thank you,
%br
  WheelsOnRent Team

