<h1>WheelsOnRent!</h1>
<p>Hello Admin,</p>
<p><strong><%= @vendor_request.first_name %> <%= @vendor_request.last_name %></strong> have requested to join WheelsOnRent as a vendor.</p>
<ul>
  <li><strong>Email:</strong> <%= @vendor_request.email %></li>
  <li><strong>Description:</strong> <%= @vendor_request.description %></li>
</ul>
<p>Best regards,<br>WheelsOnRent Team</p> 